body {
    background-color: #b6cdf2;
     /* height: 100vh;
     width: 100%; */
     margin: 0 auto;
     font-family: 'Neucha', cursive;
     line-height: 1.5;
     letter-spacing: 1px;
 }
.container {
    max-width: 1280px;
    padding: 20px;
}
 header{
    width: 100%;
    height: 50px;
    background-color: #679ef5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.foot{
    background: #679ef5;
    width: 100vw;
    height: 50px;
    text-align: right;
    position: absolute;
    bottom: 0;
}


.btn{
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    color: #305a9c;
    text-align: center;
    text-decoration: none;
}

.btn:hover{
    color: #152b4f;
}
.main_section{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 30px;
    padding-left: 30%;
    padding-right: 30%;
    position: absolute;

}
.game-text{
    padding-left: 5%;
    font-size: 30px;
    color: #305a9c;
    text-align: center;
}
.back{
    background-color: #99bbf184;
    filter: blur(25px);
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: -2;
}
.imge{
    width: 600px;
    height: 600px;
    position: absolute;
}

.kletki{
    width: 600px;
    height: 178px;
    margin-bottom: 18px;
    display: block;
  
}
.kletka{
    width: 178px;
    height: 178px;
    margin-right: 18px;
    display: block;
    
}

.text{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #305a9c;
    text-align: center;
}
.figr{
    width: 200px;
    height: 200px;
}

/* .back{
    background-color: #99bbf184;
    filter: blur(15px);
    width: 650px;
    height: 650px;
    position: absolute;
}
.imge{
    width: 600px;
    height: 600px;
} */


